* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

.modal{ 
    width: 635px;
    height: 538px;
    Top: 1549px;
    Left: 7182px; 
    margin: 10px 50px 2px 50px;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 8px 8px 0 0;
}

.title{
    width: 578px;
    display: flex;
    justify-content:space-between;
    margin-bottom: 10px;
    align-items:center;

}

h2{
    left: 4.75%;
    right: 71.96%;
    top: 3.78%;
    bottom: 91.65%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #00995D;
}

#btnclose {
    border-radius: 80px;
    background: #09121F;
    color: #FFFFFF;
}

.scrollbar{
    min-width: 100px;
    min-height: 100px;
}

h3{
    margin: 20px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #212121;
}

.generalData {
    width: 578px;
    display: flex;
    justify-content:space-between;
    margin-bottom: 10px;
}

.input {
    height: 48px;
    width: 182px;
    left: 0px;
    top: 22px;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #828282;
}

#label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #4F4F4F;
}

.h3{
    display: flex;
}

.inputSummary {
    height: 153px;
    width: 578px;
    left: 0px;
    top: 29px;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.inputTitle {
    width: 48px;
    width: 578px;
    left: 0px;
    top: 21.919921875px;
    padding: 10px;
    margin-bottom: 20px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.footer {
    height: 97px;
    width: 635px;
    margin: 0px 50px;
    padding: 20px;
    display: flex;
    justify-content:space-between;
    border-radius: 0 0 8px 8px;
    background: #FFFFFF;
}

.button{
    display: flex;
    justify-content:space-between;
}

.bntCancelar{
    height: 48px;
    width: 147px;
    border: 0;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    color: #616161;
    background-color: #FFFFFF;
}

.bntCriar{
    height: 48px;
    width: 147px;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    background-color:#00995D;
    color: #FFFFFF;
}

