* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image:url(./logo.png);
    background-repeat: no-repeat;
    background-color: #E5E5E5;
}

.imgLogo{
    margin: 30px;
}

.img0{
    height: 176px;
    width: 177px;
    left: 89;
    top: 54px;
}

.imgX {
    height: 629px;
    width: 526px;
    left: -86px;
    top: 233px;
    border-radius: 0px;
}

.card {
    height: 466px;
    width: 522px;
    border-radius: 16px;
    border: 1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 138.5px 486px 360.5px 416px;
    padding: 20px 20px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 500;
    background:#ffffff;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 40px;
    color:#4F4F4F;
}

label{
    display: flex;
    margin-left: 8%;
}

.input {
    height: 48px;
    width: 379px;
    margin-left: 8%;
    border: 1px solid gray;
    border-radius: 8px;
    padding-left: 10px;
}

.bntEnter {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    width: 35%;
    line-height: 40px;
    background: #017849;
    border-radius: 10px;
    color: white;
    border-color: #E5E5E5;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 0px 12px 0px 24px;
    gap: 13px;
}

.button{
    display: flex;
    justify-content: space-between;
    padding-right: 45px;
}

.imgFundo{
    display: flex;
    flex-direction: column;
}

a{
    color :#E5E5E5;
    text-decoration: none;
}

.welcome {
    color:#00995D;
}