* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;;
}

.header {
    display: flex;
    justify-content:space-between;
    background-color: white;
    padding: 10px;
}

.welcome{
    text-align: center;
    font-size: 30px;
}

.Card {
    width: 95%;
    min-height: 70%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate( 3%, 5%);
    border-radius: 16px;
    padding: 20px 20px;
    font-family: 'Montserrat';
    font-weight: 500;
    background:#ffffff;
}

.titleCard{
    color: #4F4F4F;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    display: flex;
    align-items:center;
    margin-bottom: 15px;
}

.headerCard{
    display: flex;
    justify-content:space-between;
}

.bntRegister {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    width: 197px;
    cursor: pointer;
    opacity: 0.9;
    background: #017849;
    border-radius: 30px;
    color: white;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 52px;
    left: 156.59px;
    top: 201px;
}

#divSearch{
    background-color:#E0EEEE;
    border:solid 1px gray;
    border-radius:24px;
    width:379px;
    height:48px;
}
  
#txtSearch{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:48px;
    width:250px;
    outline: 0;
}
  
#btnSearch{
    vertical-align:middle;
    border:none;
    float:left;
    cursor: pointer;
    opacity: 0.9;
    border-radius:0 23px 23px 0;
    height: 30px;
    width:125px;
    height: 47px;
    font-weight:bold;
    background:#00995D;
    color: white;
}

table{
    margin-top: 30px;
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
}

table th, td {
    padding: 1px 5px;
    text-align: left;
}

table td img{
    width: 22px;
}


.center{
    text-align: center;
}

#action {
    display: flex;
    justify-content: space-evenly;
    
}

button:hover{
    opacity: 1;
}

.button-table{
    border: none;
    margin-top: 5px;
    cursor: pointer;
}

.img-table{
    width: 100%;
    height: 100%;
}

#modalEdit{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

#modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}


#modal-bottom{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    width: 1093px;
    height: 580px;
    max-width: 90%;
    max-height: 95%;
    background: #E5E5E5;
    border-radius: 8px;
    transform: translate(-50%, -50%);
}

.modal-front{
    width: 1093px;
    height: 483px;
    display: flex;
    padding: 30px 0;
    flex-direction: column;
    border-radius:8px 8px 0 0 ;
    background:#ffffff;
}

.modal-header {
    display: flex;
    justify-content:space-between;
    padding: 0 30px 20px 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #00995D
}

#btnCloseModal {
    left: 8.33%;
    right: 8.33%;
    top: 8.33%;
    bottom: 8.33%;
    border-radius: 80px;
    background: #09121F;
    color: #FFFFFF;
    cursor: pointer;
}

label {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    color: #4F4F4F;
}

.modal-body {
    display: flex;
    justify-content:space-evenly;
    margin-bottom: 30px;
}

.input{
    width: 327px;
    height: 47.92px;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 13px 16px;
}

.baseboard{
    margin-top: 2px;
    padding: 30px;
    display: flex;
    justify-content:space-between;
    width: 1093px;
    height: 97px;
    border-radius: 0 0 8px 8px;
    font-family: 'Montserrat';
    background:#ffffff;
}

.button {
    display: flex;
    justify-content:space-between;
    margin-left: 20px;
}

.bntCreate{
    width: 218px;
    height: 48px;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    background: #00995D;
    color: #ffffff;

}

.bntCriar{
    width: 147px;
    height: 48px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    opacity: 0.9;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    background: #00995D;
    color: #ffffff;
}

.bntCancelar {
    width: 147px;
    height: 48px;
    margin-right: 2px;
    border: 0;
    cursor: pointer;
    opacity: 0.9;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #616161;
    background-color: #ffffff;
}